input {
  text-align: left;
}

/* Dark themed only */

.dark-themed-form input {
  font-family: var(--font-secondary);
  background-color: transparent;
  padding: 0.5em 3em 0.5em 1em;
  color: var(--text-color-secondary);
  border: 0.5px solid var(--secondary-background-color);
  width: 20em;
  font-size: 17px;
  font-weight: 200;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  max-width: 80%;
}

.dark-themed-form input:focus {
  outline: none;
  border: 1px solid var(--text-color-secondary);
}

.dark-themed-form input:hover {
  border: 1px solid var(--text-color-secondary);
}

.dark-themed-form button {
  background-color: var(--submit-button-color);
  opacity: 0.5;
  color: var(--text-color-primary);
  padding: 0.75em 2em;
  border: none;
  border-radius: 5px;
}

.dark-themed-form button:hover {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.dark-themed-form .field {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dark-themed-form .field label {
  font-family: var(--font-primary);
}

.dark-themed-form .form-buttons-wrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-themed-form .form-title {
  font-size: 1.5em;
  font-family: var(--font-secondary);
  font-weight: 200;
  width: 100%;
  margin: 0;
  color: var(--text-color-secondary);
}

.dark-themed-form .form-subtitle {
  font-size: 1em;
}
