.loading-page-wrapper {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
}

.figure {
  margin: 20px 0;
  color: white;
  text-align: center;
}

/* TRIANGLE */
.triangle {
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 50px solid white;

  animation: triangleMove 2.5s ease-in-out infinite;
  border-radius: 10%;
}

.circle {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 25%;

  animation: circlePulse 2.5s ease-in-out infinite;
}

@keyframes triangleMove {
  0% {
    transform: translateY(0) rotate(0deg) scale(0.4);
  }
  50% {
    transform: translateY(40px) rotate(180deg) scale(1);
  }
  100% {
    transform: translateY(0) rotate(360deg) scale(0.4);
  }
}

@keyframes circlePulse {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}
