.login-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
}

.login-form-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.login-form-title {
  font-size: 1.5em;
  font-family: var(--font-secondary);
  font-weight: 200;
  width: 100%;
  margin: 0;
  color: var(--text-color-secondary);
}

.login-form-subtitle {
  font-size: 1em;
}

.login-password-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
