.login-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
}

.login-form-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.login-password-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
