.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--primary-background-color);
  max-width: 50%;
  max-height: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.modal-title {
  font-weight: 800;
  font-size: 1.5em;
  margin: 0.5em 0 0.75em 0;
}

.modal-top-bar {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.modal-content {
  padding: 1em;
  display: inline-block;
}

.close-button {
  width: 10%;
  height: 2em;
  color: var(--text-color-primary);
  font-size: 0.5em;
  text-align: center;
  padding: 0.3em;
  margin: 0.4em;
}

.close-button:hover {
  color: red;
  border: 1px solid red;
}
