.page-not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.page-not-found {
  display: flex;
  gap: 5em;
}

.page-not-found-gif {
  width: 30em;
  border-radius: 8px;
}

.page-not-found-message h1 {
  color: white;
  font-size: 5em;
  margin: 0;
  font-weight: 100;
}

.page-not-found-message h2 {
  color: white;
  font-size: 2em;
}
