.register-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.register-page-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.register-page-left {
  width: 50%;
  background: var(--inner-filling-color);
}

@media (max-width: 1024px) {
  .register-page-left {
    width: 0%;
  }
  .register-page-right {
    width: 100%;
  }
}
