.reset-password-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reset-password-form-submit-button {
  width: 30%;
}
